@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
@import "../../../assets/scss/Variable";
.container {
  position: relative;
  width: $containr-width;
  max-width: $containr-max-width;
  height: $full-height;
  margin: 0 auto;
  padding: $size-1rem 0;
  @include flex(row, center, space-between, $size-1rem);
  user-select: none;
  .left {
    position: relative;
    width: 100px;
  }
  .right {
    .button-print {
      @include custom-button();
      padding: 0 $size-2rem;
    }
  }
}