<section class="first-section">
  <img
    src="../../../assets/images/grid-image.png"
    alt=""
    class="bg-grid-image"
  />
  <div class="container">
    <h1>
      <span>Print NTF</span> Instantly <br />
      From Your Wallet to Your Wall
    </h1>
    <p>
      Instantly print your NFT and receive it at your home in less than a week.
    </p>
    <button class="button-start">start</button>
  </div>
  <infinite-autoplay-carousel class="carousel"></infinite-autoplay-carousel>
</section>
<section class="second-section">
  <div class="container">
    <h2 class="section-title"><span>How</span> it works</h2>
    <div class="content-wrapper">
      <div class="content-item">
        <div class="svg-wrapper">
          <img src="../../../assets/svg/Wallet.svg" alt="" />
        </div>
        <h3>Connect your wallet</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="content-item">
        <div class="svg-wrapper">
          <img src="../../../assets/svg/Edit.svg" alt="" />
        </div>
        <h3>Select your NFT</h3>
        <p>
          dolor, sit amet consectetur impedit eveniet adipisicing elit. Iure,
          fugiat.
        </p>
      </div>
      <div class="content-item">
        <div class="svg-wrapper">
          <img src="../../../assets/svg/Calendar.svg" alt="" />
        </div>
        <h3>Place your order</h3>
        <p>
          Ea consequuntur voluptate ducimus itaque, impedit eveniet animi
          asperiores molestiae officia iure quo.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="third-section">
  <div class="container">
    <div class="content-wrapper">
      <h2 class="section-title"><span>From your</span> wallet</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita eius
        dolor mollitia ad corrupti autem aliquid sapiente obcaecati natus
        facere.
      </p>
    </div>
    <div class="img-wrapper middle">
      <img src="../../../assets/images/Metamask.png" alt="" />
    </div>
    <div class="img-wrapper">
      <img src="../../../assets/images/Edit-NFT.png" alt="" />
    </div>
  </div>
</section>
<section class="fourth-section">
  <div class="container">
    <div class="img-wrapper">
      <img src="../../../assets/images/NFT-to-wall.png" alt="" />
    </div>
    <div class="content-wrapper">
      <h2 class="section-title"><span>To y</span>our wall</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quis soluta
        obcaecati deserunt ducimus temporibus quibusdam quasi architecto!
      </p>
    </div>
  </div>
</section>
<section class="fifth-section">
  <img
    src="../../../assets/images/grid-image.png"
    alt=""
    class="bg-grid-image"
  />
  <div class="container">
    <div class="img-wrapper">
      <img src="../../../assets/images/NFT-room.png" alt="" />
      <div class="content-wrapper">
        <h2 class="section-title">Wen<span>Print?</span></h2>
        <p>consectetur adipisicing elit. Porro, perferendis!</p>
        <button class="button-start">start</button>
      </div>
    </div>
  </div>
</section>
<section class="sixth-section">
  <div class="container">
    <h2 class="section-title"><span>FAQ</span></h2>
    <div class="content-wrapper">
      <accordion class="accordion"></accordion>
    </div>
  </div>
</section>
