@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
@import "../../../assets/scss/Variable";
section {
  position: relative;
  width: $full-width;
  .container {
    position: relative;
    width: $containr-width;
    max-width: $containr-max-width;
    margin: 0 auto;
    user-select: none;
    .section-title {
      position: relative;
      text-align: center;
      font-size: $fs-large-xxl;
      color: $color-white-default;
      z-index: 1;
      span {
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 15px;
          width: $full-width;
          bottom: 0;
          border-radius: $big-radius;
          background: linear-gradient( 90deg, $color-primary, $color-transparent-default);
          z-index: -1;
        }
      }
    }
  }
}

.first-section {
  overflow: hidden;
  perspective: 500px;
  .bg-grid-image {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 75%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    transform: rotateX(45deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    pointer-events: none;
    z-index: -1;
  }
  .container {
    position: relative;
    width: $containr-width;
    max-width: $containr-max-width;
    margin: 0 auto;
    user-select: none;
    @include flex(column, center, stretch, $size-1_5rem);
    height: $full-height;
    text-align: center;
    padding: $size-2rem 0;
    h1 {
      position: relative;
      font-size: $fs-large-xxl;
      color: $color-white-default;
      span {
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 15px;
          width: $full-width;
          bottom: 0;
          border-radius: $big-radius;
          background: linear-gradient( 90deg, $color-primary, $color-transparent-default);
          z-index: -1;
        }
      }
    }
    p {
      font-size: $fs-small-xl;
      color: $color-text-muted;
    }
    .button-start {
      @include custom-button();
      padding: 0 $size-2_5rem;
    }
  }
  .carousel {
    position: relative;
    overflow: hidden;
    background: linear-gradient( 0deg, $bg-color-dark 80%, $color-transparent-default);
  }
}

.second-section {
  --item-width: 70%;
  padding: $size-2_5rem 0;
  @include breakPoints(500px) {
    --item-width: 50%;
  }
  @include breakPoints(810px) {
    --item-width: 33%;
  }
  .content-wrapper {
    @include flex(row, flex-start, center, $size-2rem);
    padding-top: $size-3rem;
    flex-wrap: wrap;
    @include breakPoints(810px) {
      flex-wrap: nowrap;
    }
    .content-item {
      position: relative;
      text-align: center;
      @include flex(column, center, flex-start, $size-1rem);
      width: var(--item-width);
      @include breakPoints(450px) {
        width: var(--item-width);
      }
      .svg-wrapper {
        position: relative;
        max-width: 80px;
        max-height: 80px;
        svg {
          display: block;
          width: $full-width;
          height: $full-height;
        }
      }
      h3 {
        font-size: $fs-medium;
        color: $color-white-default;
      }
      p {
        font-size: $fs-small;
        color: $color-text-muted;
      }
    }
  }
}

.third-section,
.fourth-section {
  position: relative;
  border-top-left-radius: $large-radius-xxl;
  border-top-right-radius: $large-radius-xxl;
  background: $bg-color-purple-dark;
  padding: $size-2_5rem 0;
  .container {
    --content-width: 10%;
    @include flex(column, center, center, $size-3rem);
    flex-wrap: wrap;
    @include breakPoints(450px) {
      --content-width: 30%;
    }
    @include breakPoints(810px) {
      --content-width: 30%;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .content-wrapper {
      position: relative;
      width: calc($full-width - var(--content-width));
      text-align: center;
      @include flex(column, center, center, $size-1_5rem);
      p {
        font-size: $fs-small;
        color: $color-text-muted;
        max-width: 400px;
      }
    }
    .img-wrapper {
      position: relative;
      @include flex(row, center, center, 0);
      width: calc($full-width - var(--content-width));
      img {
        max-width: 400px;
        width: 100%;
      }
    }
    .img-wrapper.middle {
      --content-width: 60%;
      @include flex(row, center, center, 0);
      width: calc($full-width - var(--content-width));
      img {
        max-width: 120px;
      }
      @include breakPoints(450px) {
        --content-width: 80%;
        img {
          max-width: 140px;
        }
      }
    }
  }
}

.fourth-section {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .container {
    @include flex(column-reverse, center, center, $size-3rem);
    flex-wrap: wrap;
    @include breakPoints(810px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

.fifth-section {
  background: $bg-color-purple-dark;
  padding: $size-2_5rem 0;
  padding-bottom: 7rem;
  overflow: hidden;
  perspective: 500px;
  &::after {
    content: "";
    position: absolute;
    width: $full-width;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( 0deg, $bg-color-purple-dark 50%, $color-transparent-default);
    z-index: 1;
  }
  .bg-grid-image {
    position: absolute;
    top: 40%;
    width: 100vw;
    height: $full-height;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    transform: rotateX(70deg);
    transform-style: preserve-3d;
    transform-origin: top center;
    pointer-events: none;
    z-index: -1;
  }
  .img-wrapper {
    position: relative;
    @include flex(row, center, center, 0);
    width: $full-width;
    border-radius: $large-radius;
    overflow: hidden;
    height: 250px;
    @include breakPoints(450px) {
      height: 350px;
    }
    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      object-position: center;
      height: $full-height;
      width: $full-width;
    }
    .content-wrapper {
      position: relative;
      @include flex(column, center, center, $size-1rem);
      .section-title {
        span {
          &::after {
            background: linear-gradient( -90deg, $color-teal-600, $color-transparent-default);
          }
        }
      }
      p {
        font-size: $fs-small;
        color: $color-white-default;
      }
      .button-start {
        @include custom-button();
        padding: 0 $size-2_5rem;
      }
    }
  }
}

.sixth-section {
  background: linear-gradient( 0deg, $bg-color-purple-dark 85%, $color-transparent-default);
  padding-bottom: $size-2_5rem;
  padding-top: 0;
  margin-top: -4rem;
  .container {
    .content-wrapper {
      @include flex(row, center, center, 0);
      .accordion {
        position: relative;
        height: auto;
        width: 90%;
        max-width: 500px;
        margin: $size-1rem auto;
      }
    }
  }
}