@import "../../../assets/scss/Variable";
@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
.button-wrapper {
  position: relative;
  @include flex(row, center, center, $size-03rem);
  background: $color-blue;
  border-radius: $large-radius-xxl;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  transition: 0.1s ease-in;
  &:active {
    transform: scale(0.9);
  }
  @include breakPoints(650px) {
    padding: $size-03rem $size-08rem;
    max-height: 35px;
    width: auto;
    height: auto;
  }
  i {
    color: $color-white-default;
    font-size: $fs-medium;
    @include breakPoints(650px) {
      font-size: $fs-small;
    }
  }
  span {
    color: $color-white-default;
    font-size: $fs-small;
    font-weight: $fw-medium;
    display: none;
    @include breakPoints(650px) {
      display: block;
    }
  }
}
