<div
  class="modal-overlay"
  [style.background]="ThemeColor.backgroundColor"
  (click)="onCloseModal(false)"
></div>
<form
  (submit)="onAddItem($event)"
  class="modal-container"
  [style.background]="ThemeColor.backgroundColor"
>
  <div class="modal-body">
    <div class="checkbox-wrapper"></div>
    <label for="task-input" class="input-wrapper">
      <input
        type="text"
        [(ngModel)]="Item.description"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Tap 'Enter' to create tasks"
        id="task-input"
        #taskInput
      />
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-close" (click)="onCloseModal(false)">
      Close
    </button>
    <button
      type="submit"
      [disabled]="Item.description.trim() == ''"
      class="button-Done"
      [style.background]="ThemeColor.accentColor"
    >
      Done
    </button>
  </div>
</form>
