@use "../assets/scss/Variable" as *;

:host {
  display: block;
  min-height: 100vh;
  background: $bg-color-dark;
}

.main-content {
  min-height: 100vh;
  position: relative;
  // Padding is handled by individual page components for better control
  
  // Ensure routed components are block level so animations work
  > * {
    display: block;
    width: 100%;
  }
}
