@import "../assets/scss/Mixin";
@import "../assets/scss/Reset";
@import "../assets/scss/Variable";
header,
main,
footer {
  position: relative;
  width: $full-width;
}

footer {
  background: $bg-color-purple-dark;
}
