<div class="carousel-slider">
  <div class="carousel-slide">
    <div class="carousel-list-wrapper">
      <div class="carousel-list">
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft01.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft02.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft03.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft04.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft05.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft06.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft07.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft08.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft09.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft10.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft11.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft12.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft13.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft14.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft15.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft16.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft17.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft18.png" alt="" />
        </div>
      </div>
      <div class="carousel-list">
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft19.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft20.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft21.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft22.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft23.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft24.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft25.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft26.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft27.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft28.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft29.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft30.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft31.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft32.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft33.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft34.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft35.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft36.png" alt="" />
        </div>
      </div>
    </div>
    <div class="carousel-list-wrapper">
      <div class="carousel-list">
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft01.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft02.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft03.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft04.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft05.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft06.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft07.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft08.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft09.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft10.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft11.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft12.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft13.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft14.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft15.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft16.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft17.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft18.png" alt="" />
        </div>
      </div>
      <div class="carousel-list">
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft19.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft20.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft21.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft22.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft23.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft24.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft25.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft26.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft27.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft28.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft29.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft30.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft31.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft32.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft33.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft34.jpg" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft35.png" alt="" />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/NFT-image/nft36.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
