<div class="container">
  <div class="top">
    <div class="logo">
      <img src="../../../assets/images/logo.png" alt="logo" />
    </div>
    <div class="footer-navigation-wrapper">
      <ul>
        <h3 class="titile">Product</h3>
        <li>Materials</li>
        <li>Features</li>
      </ul>
      <ul>
        <h3 class="titile">Support</h3>
        <li>FAQ</li>
        <li>Contact us</li>
      </ul>
      <ul>
        <h3 class="titile">Company</h3>
        <li>About</li>
        <li>Terms of Use</li>
        <li>Privacy policy</li>
      </ul>
    </div>
  </div>
  <div class="middle">
    <i class="fa fa-twitter"></i>
    <i class="fa fa-discord"></i>
    <i class="fa fa-instagram"></i>
  </div>
  <div class="bottom">
    <p>© Copyright {{ currentYear }} Inkefy. All Rights Reserved.</p>
  </div>
</div>