@import "../../../assets/scss/Variable";
@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
.list-wrapper {
  position: relative;
  background: $color-transparent-white-01;
  border-radius: $small-radius;
  margin-top: $size-1rem;
  transition: $transition;
  animation: fede-in 0.1s ease-in forwards;
  padding: 0;
  padding-left: $size-08rem;
  cursor: pointer;
  overflow: hidden;
  @include flex(row, center, flex-start, $size-05rem);
  .checkbox-wrapper {
    .checkbox {
      position: relative;
      @include flex(row, center, center, 0);
      border: $size-01rem solid $color-muted;
      border-radius: calc($small-radius - 2px);
      width: 20px;
      height: 20px;
      transition: 0.3s ease-out;
      i {
        color: $color-white-default;
        font-size: $fs-small;
        transform: scale(0);
        opacity: 0;
        transition: 0.2s cubic-bezier(0.2, 0.45, 0.7, 0);
        z-index: 1;
      }
    }
  }
  .content-wrapper {
    position: relative;
    width: $full-width;
    p {
      width: $full-width;
      color: $color-white-default;
      font-size: $fs-small-xl;
      font-weight: $fw-medium;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: $transition;
      overflow: hidden;
    }
  }
  .button-delete {
    outline: none;
    border: none;
    background: transparent;
    border-radius: $small-radius;
    min-width: 50px;
    height: 50px;
    margin-left: auto;
    @include flex(row, center, center, 0);
    transition: $transition;
    i {
      font-size: $fs-small;
      color: $color-gray-400 !important;
      transition: $transition;
    }
    &:hover {
      background: $color-transparent-white-01;
      i {
        color: $color-white-default !important;
      }
    }
  }
  &.done {
    animation: none;
    opacity: $opacity-60;
    .checkbox-wrapper {
      .checkbox {
        background: $color-blue;
        i {
          transform: scale(1);
          opacity: $opacity-100;
        }
      }
    }
    .content-wrapper {
      p {
        text-decoration: line-through;
      }
    }
  }
}

@keyframes fede-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
