<div
  class="aside-overlay"
  [style.background]="ThemeColor.backgroundColor"
  (click)="onOpenAside(false)"
></div>
<div class="container" [style.background]="ThemeColor.backgroundColor">
  <div class="header">
    <button class="button-back" (click)="onOpenAside(false)">
      <i class="fa fa-angle-left"></i>
    </button>
    <h3>Setting</h3>
  </div>
  <div class="theme-wrapper">
    <h3 class="title">Theme</h3>
    <div class="theme-list" selected-theme="#2076da">
      <div (click)="SetTheme('#2076da', '#041524')" class="item blue">
        <img src="../../../assets/images/blue-theme.png" alt="" />
      </div>
      <div (click)="SetTheme('#136f63', '#000f08')" class="item green">
        <img src="../../../assets/images/green-theme.png" alt="" />
      </div>
      <div (click)="SetTheme('#d39800', '#141202')" class="item yellow">
        <img src="../../../assets/images/yellow-theme.png" alt="" />
      </div>
      <div (click)="SetTheme('#f34213', '#170905')" class="item orange">
        <img src="../../../assets/images/orange-theme.png" alt="" />
      </div>
      <div (click)="SetTheme('#6f5bd4', '#090615')" class="item purple">
        <img src="../../../assets/images/purple-theme.png" alt="" />
      </div>
    </div>
  </div>
  <div class="app-info-wrapper">
    <h3 class="title">About</h3>
    <p>Version info: 1.0</p>
    <p>Last update: 12.03.2023</p>
    <p>Created by: @gabrielpipia</p>
  </div>
</div>
