@import "../../../assets/scss/Variable";
@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
.aside-overlay {
  position: absolute;
  inset: 0;
  background: $color-black-default;
  opacity: $opacity-60;
  z-index: -1;
}

.container {
  position: absolute;
  background: $bg-color-blue-dark;
  padding: $size-1rem;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  border-left: none;
  width: $full-width;
  max-width: none;
  animation: slide-in 0.2s ease-in forwards;
  @include breakPoints(450px) {
    border-left: $size-01rem solid $color-gray-400;
    width: 85%;
    max-width: 350px;
  }
  .header {
    position: sticky;
    @include flex(row, center, flex-start, 0);
    top: 0;
    width: $full-width;
    .button-back {
      position: relative;
      @include flex(row, center, center, 0);
      width: 30px;
      height: 35px;
      background: $color-white-default;
      border-radius: $small-radius;
      margin-right: $size-06rem;
      i {
        font-size: $fs-small;
        color: $bg-color-blue-dark;
      }
    }
    h3 {
      font-size: $fs-medium;
      color: $color-white-default;
    }
  }
  .theme-wrapper,
  .app-info-wrapper {
    position: relative;
    width: $full-width;
    .title {
      font-size: $fs-small-xl;
      color: $color-gray-200;
      margin-top: $size-1rem;
      margin-bottom: $size-05rem;
    }
    .theme-list {
      display: flex;
      flex-wrap: wrap;
      gap: $size-04rem;
      .item {
        position: relative;
        flex: 1;
        max-width: 150px;
        border-radius: $small-radius;
        border: $size-02rem solid $color-transparent-default;
        transition: $transition;
        cursor: pointer;
        img {
          width: $full-width;
          pointer-events: none;
          height: auto;
        }
      }
      &[selected-theme="#2076da"] {
        .item.blue {
          border-color: $color-white-default;
        }
      }
      &[selected-theme="#136f63"] {
        .item.green {
          border-color: $color-white-default;
        }
      }
      &[selected-theme="#d39800"] {
        .item.yellow {
          border-color: $color-white-default;
        }
      }
      &[selected-theme="#f34213"] {
        .item.orange {
          border-color: $color-white-default;
        }
      }
      &[selected-theme="#6f5bd4"] {
        .item.purple {
          border-color: $color-white-default;
        }
      }
    }
  }
  .app-info-wrapper {
    p {
      font-size: $fs-small;
      color: $color-gray-500;
      border-radius: $small-radius;
      background: $color-transparent-white-01;
      margin-bottom: $size-03rem;
      padding: $size-03rem $size-04rem;
    }
  }
}

@keyframes slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0px;
  }
}
