@import "./assets/scss/_Mixin.scss";
@import "./assets/scss/_Reset.scss";
@import "./assets/scss/_Variable.scss";
body {
  width: $full-width;
  height: $full-height;
  min-height: $full-height-vh;
  background: $bg-color-dark;
}