<nav>
  <ul>
    <li class="nav-item">
      <a
        class="nav-item-link"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="all"
        routerLinkActive="active "
        (click)="activeNavItem($event)"
        >All</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="pending"
        routerLinkActive="active"
        (click)="activeNavItem($event)"
        >Pending</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-item-link"
        routerLink="completed"
        routerLinkActive="active"
        (click)="activeNavItem($event)"
        >Completed</a
      >
    </li>
    <div class="indicator" [style.background]="ThemeColor.accentColor"></div>
  </ul>
  <todo-add-task-btn [ThemeColor]="ThemeColor"></todo-add-task-btn>
</nav>
