@import "../../../assets/scss/Variable";
@import "../../../assets/scss/Mixin";
@import "../../../assets/scss/Reset";
nav {
  position: relative;
  width: $full-width;
  border-bottom: $size-01rem solid $color-muted;
  @include flex(row, flex-end, space-between, $size-05rem);
  padding-bottom: $size-04rem;
  padding-top: $size-05rem;
  ul {
    position: relative;
    padding: $size-03rem 0;
    width: $full-width;
    padding-bottom: 0;
    @include flex(row, center, space-between, $size-08rem);
    @include breakPoints(650px) {
      width: fit-content;
      gap: $size-1_5rem;
    }
    .nav-item {
      position: relative;
      @include flex(row, center, center, 0);
      z-index: 1;
      a {
        font-size: $fs-small-xl;
        font-weight: $fw-medium;
        color: $color-gray-200;
        &.active {
          color: $color-white-default;
          font-weight: $fw-bold;
        }
      }
    }
    .indicator {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 0px;
      height: 5px;
      background: $color-blue;
      border-radius: $large-radius;
      transition: 0.3s cubic-bezier(0.9, 0, 0, 1.3);
    }
  }
  todo-add-task-btn {
    display: none;
    @include breakPoints(650px) {
      display: block;
    }
  }
}
